#cover
  h1.book-title Knuth Interview 2006
  h2.author by Donald E. Knuth


.chapter
  include:markdown-it(html=true) sections/0.md

.chapter
  include:markdown-it(html=true) sections/1.md

.chapter
  include:markdown-it(html=true) sections/2.md

.chapter
  include:markdown-it(html=true) sections/3.md

.chapter
  include:markdown-it(html=true) sections/4.md

.chapter
  include:markdown-it(html=true) sections/5.md

.chapter
  include:markdown-it(html=true) sections/6.md

.chapter
  include:markdown-it(html=true) sections/7.md

.chapter
  include:markdown-it(html=true) sections/8.md

.chapter
  include:markdown-it(html=true) sections/9.md

.chapter
  include:markdown-it(html=true) sections/10.md

.chapter
  include:markdown-it(html=true) sections/11.md

.chapter
  include:markdown-it(html=true) sections/12.md

.chapter
  include:markdown-it(html=true) sections/13.md

.chapter
  include:markdown-it(html=true) sections/14.md

.chapter
  include:markdown-it(html=true) sections/15.md

.chapter
  include:markdown-it(html=true) sections/16.md

.chapter
  include:markdown-it(html=true) sections/17.md

.chapter
  include:markdown-it(html=true) sections/18.md

.chapter
  include:markdown-it(html=true) sections/19.md

.chapter
  include:markdown-it(html=true) sections/20.md

.chapter
  include:markdown-it(html=true) sections/21.md

.chapter
  include:markdown-it(html=true) sections/22.md

.chapter
  include:markdown-it(html=true) sections/23.md

.chapter
  include:markdown-it(html=true) sections/24.md

.chapter
  include:markdown-it(html=true) sections/25.md

.chapter
  include:markdown-it(html=true) sections/26.md

.chapter
  include:markdown-it(html=true) sections/27.md

.chapter
  include:markdown-it(html=true) sections/28.md

.chapter
  include:markdown-it(html=true) sections/29.md

.chapter
  include:markdown-it(html=true) sections/30.md

.chapter
  include:markdown-it(html=true) sections/31.md

.chapter
  include:markdown-it(html=true) sections/32.md

.chapter
  include:markdown-it(html=true) sections/33.md

.chapter
  include:markdown-it(html=true) sections/34.md

.chapter
  include:markdown-it(html=true) sections/35.md

.chapter
  include:markdown-it(html=true) sections/36.md

.chapter
  include:markdown-it(html=true) sections/37.md

.chapter
  include:markdown-it(html=true) sections/38.md

.chapter
  include:markdown-it(html=true) sections/39.md

.chapter
  include:markdown-it(html=true) sections/40.md

.chapter
  include:markdown-it(html=true) sections/41.md

.chapter
  include:markdown-it(html=true) sections/42.md

.chapter
  include:markdown-it(html=true) sections/43.md

.chapter
  include:markdown-it(html=true) sections/44.md

.chapter
  include:markdown-it(html=true) sections/45.md

.chapter
  include:markdown-it(html=true) sections/46.md

.chapter
  include:markdown-it(html=true) sections/47.md

.chapter
  include:markdown-it(html=true) sections/48.md

.chapter
  include:markdown-it(html=true) sections/49.md

.chapter
  include:markdown-it(html=true) sections/50.md

.chapter
  include:markdown-it(html=true) sections/51.md

.chapter
  include:markdown-it(html=true) sections/52.md

.chapter
  include:markdown-it(html=true) sections/53.md

.chapter
  include:markdown-it(html=true) sections/54.md

.chapter
  include:markdown-it(html=true) sections/55.md

.chapter
  include:markdown-it(html=true) sections/56.md

.chapter
  include:markdown-it(html=true) sections/57.md

.chapter
  include:markdown-it(html=true) sections/58.md

.chapter
  include:markdown-it(html=true) sections/59.md

.chapter
  include:markdown-it(html=true) sections/60.md

.chapter
  include:markdown-it(html=true) sections/61.md

.chapter
  include:markdown-it(html=true) sections/62.md

.chapter
  include:markdown-it(html=true) sections/63.md

.chapter
  include:markdown-it(html=true) sections/64.md

.chapter
  include:markdown-it(html=true) sections/65.md

.chapter
  include:markdown-it(html=true) sections/66.md

.chapter
  include:markdown-it(html=true) sections/67.md

.chapter
  include:markdown-it(html=true) sections/68.md

.chapter
  include:markdown-it(html=true) sections/69.md

.chapter
  include:markdown-it(html=true) sections/70.md

.chapter
  include:markdown-it(html=true) sections/71.md

.chapter
  include:markdown-it(html=true) sections/72.md

.chapter
  include:markdown-it(html=true) sections/73.md

.chapter
  include:markdown-it(html=true) sections/74.md

.chapter
  include:markdown-it(html=true) sections/75.md

.chapter
  include:markdown-it(html=true) sections/76.md

.chapter
  include:markdown-it(html=true) sections/77.md

.chapter
  include:markdown-it(html=true) sections/78.md

.chapter
  include:markdown-it(html=true) sections/79.md

.chapter
  include:markdown-it(html=true) sections/80.md

.chapter
  include:markdown-it(html=true) sections/81.md

.chapter
  include:markdown-it(html=true) sections/82.md

.chapter
  include:markdown-it(html=true) sections/83.md

.chapter
  include:markdown-it(html=true) sections/84.md

.chapter
  include:markdown-it(html=true) sections/85.md

.chapter
  include:markdown-it(html=true) sections/86.md

.chapter
  include:markdown-it(html=true) sections/87.md

.chapter
  include:markdown-it(html=true) sections/88.md

.chapter
  include:markdown-it(html=true) sections/89.md

.chapter
  include:markdown-it(html=true) sections/90.md

.chapter
  include:markdown-it(html=true) sections/91.md

.chapter
  include:markdown-it(html=true) sections/92.md

.chapter
  include:markdown-it(html=true) sections/93.md

.chapter
  include:markdown-it(html=true) sections/94.md

.chapter
  include:markdown-it(html=true) sections/95.md

.chapter
  include:markdown-it(html=true) sections/96.md

.chapter
  include:markdown-it(html=true) sections/97.md

template#page-footer
  style(type='text/css').
    .pdf-footer {
      font-family: Helvetica;
      font-size: 10px;
      width: 100%;
      text-align: center;
    }  
    .pdf-footer #[span.pageNumber]

style
  include:scss knuth.scss
